{% extends 'main.html' %}
{% load static %}
{% block content %}


<!--================latest news Area =================-->
<section class="blog_area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mb-5 mb-lg-0">
                <div class="blog_left_sidebar">

                    <div class="row">
                        {% for news_one in news %}
                        <div class="col-lg-4">
                    <article class="blog_item">
                        <div class="blog_item_img">
                            <img alt="" class="card-img rounded-0"  src="{{news_one.featured_image.url}}">
                        </div>

                        <div class="blog_details">
                            <a class="d-inline-block" href="{% url 'single-news' news_one.id %}">
                                <h2>{{news_one.title}}</h2>
                            </a>
                            <p>{{news_one.description}}</p>
                            <ul class="blog-info-link">
                                <li><a href="#"><i class="fa fa-user"></i> {{news_one.category}}</a></li>
                                <li><a href="#"><i class="fa fa-comments"></i> 03 Comments</a></li>
                            </ul>
                        </div>
                    </article>
                    </div>
                        {% endfor %}
                    </div>

                    {% include 'pagination.html' with queryset=news custom_range=custom_range %}
                </div>
            </div>
        </div>
    </div>

</section>

{% endblock %}