<!DOCTYPE html>
<html lang="en">
{% load static %}
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link href="{% static 'css/nav.css' %}" rel="stylesheet">
<div class="header-area">
    <div class="main-header ">
        <div class="header-top black-bg d-none d-md-block">
            <div class="container">
                <div class="col-xl-12">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="header-info-left">
                            <ul>
                                <li><img alt="" src="{% static 'img/icon/header_icon1.png' %}">
                                    {{ date | date:"D d M Y"}}
                                </li>
                            </ul>
                        </div>
                        <div class="header-info-right">
                            <ul class="header-social">
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if messages %}

        {% for message in messages %}
        <div class="alert  alert--{{message.tags}}">
            <p class="alert__message">{{message}}</p>
            <button class="alert__close">x</button>
        </div>

        {% endfor %}

        {% endif %}

        <div class="header-bottom">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <!-- Main-menu -->
                        <div class="logo">
                            <a href="{% url 'home' %}"><img alt="" src="{% static 'img/logo/logo.svg' %}"></a>
                        </div>
                        <div class="main-menu d-none d-md-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a href="{% url 'home' %}">Home</a></li>
                                    <li><a href="#">Category</a>
                                        <ul class="submenu">
                                            {% for category in categories %}
                                            <li><a href="{% url 'topic' category.id %}">{{category.name}}</a></li>
                                            {% endfor %}
                                        </ul>
                                    </li>
                                    <li><a href="{% url 'latest-news'  %}">Latest News</a></li>
<!--                                    <li><a href="{% url 'interest-news'  %}">Interest News</a></li>-->

                                    <div class="f-rights  d-lg-block">
                                        <ul class="navBtn">
                                            {% if request.user.is_authenticated %}
                                            <li>
                                                <a href="{% url 'account' %}">
                                                    <button class="button primary-bg boxed-btn">Account
                                                    </button>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{% url 'inbox' %}">
                                                    <button class="button primary-bg boxed-btn">Inbox
                                                    </button>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="{% url 'logout' %}">
                                                    <button class="button primary-bg boxed-btn"
                                                            style="padding:25px;color:black">Logout
                                                    </button>
                                                </a>
                                            </li>

                                            {% else %}
                                            <li>
                                                <a href="{% url 'login' %}">
                                                    <button class="button primary-bg boxed-btn">Login/Sign Up
                                                    </button>
                                                </a>
                                            </li>

                                            {% endif %}


                                        </ul>

                                    </div>
                                    <div class="container">
                                        <div class="blog_right_sidebar">
                                            <aside class="single_sidebar_widget search_widget">
                                                <form action="{% url 'latest-news' %}" class="form" id='searchForm' method="get">
                                                    <div class="form-group">
                                                        <div class="input-group mb-3">
                                                            <input class="form-control"
                                                                   name="search_query"
                                                                   onblur="this.placeholder = 'Search News, User'"
                                                                   onfocus="this.placeholder = ''"
                                                                   placeholder='Search Keyword'
                                                                   type="text" value="{{search_query}}">
                                                            <div class="input-group-append">
                                                                <button class="btns" type="submit"><i
                                                                        class="ti-search"></i>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                            </aside>
                                        </div>
                                    </div>
                                </ul>


                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-4 col-md-3 ">

                    </div>

                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-md-none"></div>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</html>

<style>
    .navBtn button{
  background: #fff;
  color: black !important;
  display: inline-block;
  padding: 8px 15px !important;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  border: 1px solid #fc3f00;
  letter-spacing: 3px;
  text-align: center;
  color: #fc3f00;
  text-transform: uppercase;
  cursor: pointer;
}
@media (min-width: 767px) {
 .f-rights{
  float:right;
}

}
@media (max-width: 767px) {
 .f-rights{
  text-align:center;
}

}




</style>