{% if queryset.has_other_pages %}
<!--Start pagination -->
<div class="pagination-area pb-45 text-center">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="single-wrap d-flex justify-content-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            {% if queryset.has_previous %}
                            <li><a class="page-item page-link" data-page="{{queryset.previous_page_number}}"
                                   href="?page={{queryset.previous_page_number}}">&#10094; Prev</a></li>
                            {% endif %}
                            {% for page in custom_range %}

                            {% if page == queryset.number%}
                            <li><a class="page-item page-link btn--sub" data-page="{{page}}" href="?page={{page}}">{{page}}</a>
                            </li>
                            {% else %}
                            <li><a class="page-item page-link" data-page="{{page}}" href="?page={{page}}">{{page}}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                            {% if queryset.has_next %}
                            <li><a class="page-item page-link" data-page="{{queryset.next_page_number}}"
                                   href="?page={{queryset.next_page_number}}">Next &#10095;</a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

{% endif %}
<!-- End pagination  -->